#Python environment specification
numpy==1.18.5
scipy==1.4.1
matplotlib==3.1.2
ipympl==0.4.0
pandas==1.0.1
ws4py==0.5.1
plotly==4.4.1
graphviz==0.13.2
swat==1.7.0
wsaccel==0.6.2
websocket_client==0.57.0
scikit-image==0.16.2
requests==2.22.0
beautifulsoup4==4.8.2
seaborn==0.9.0
scikit-learn==0.22.1
ipyleaflet==0.13.3
python-dateutil==2.8.1
setuptools==45.0.0
image==1.5.27
pynput==1.6.6
onnx==1.6.0
pygame==1.9.6
tellopy==0.6.0
imutils==0.5.3
sas-esppy==7.1.6
sas-dlpy==1.2.0
jupyter==1.0.0
jupyterlab==2.2.6
tensorflow==2.3.0
